Package: mrpaint
Version: 0.54
Maintainer: hathlife
Architecture: amd64
Description: Mr.Paint is a free collaborative drawing program.
Depends: libqt5core5a (>= 5.12.8~), libqt5gui5(>= 5.12.8~), libqt5script5(>= 5.12.8~), libqt5concurrent5(>= 5.12.8~), libqt5network5(>= 5.12.8~)
